
.font-pacifico{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.bgImage{
  background-image: url("../src/assets/bgimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@import "tailwindcss";
